body {
 background-image: url('background.jpg');
 min-height: 100vh;
}
*{
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  position: absolute;
  width: 100%;
  height: 60px;
  background: #0c1836;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.header ul {
  position: relative;
}
.header ul li{
  position: relative;
  float: left;
}
.header ul li a{
  color: #fff;
  font-size: 17px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  transition: 0.3s;
}
.header ul li a:hover{
  background: #517efa;
}
.header ul li:hover > a i{ 
  transition: 0,3s;
  transform: rotate(-180deg);
}
.header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #282828;
  display: none;
}

.header ul li:hover > ul{
  display: block;
}
.header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}
.header ul li ul li a i{
  transform: rotate(-90deg);
}

.header ul li ul li ul{
  top: 0;
  left: 200px;
}

@media (max-width: 950px) {
  .header {
    padding: 30px 20px;
  }
  .header .nav{
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: #282828;
    display: none;
  }

  .header .nav ul li{
    width: 100%;
  }
  .header .nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;

  }
  .header .nav ul li:hover ul li{
    background: #373737;
  }
  .header ul li ul li a i{
    transform: rotate(0deg);
  }
  .header .toggleBtn{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
  }
  .header .toggleBtn::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px #fff;
  }
  .header .toggleBtn::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #fff;
    transform: translateY(10px);
  }
}